.section-box {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
body {
    background-color: #ffe6f2; /* fondo rosado pastel */
.emoji-background {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 200px;
    opacity: 0.15;
    pointer-events: none;
    .center-text {
    text-align: center;
    font-size: 22px;          /* tamaño bonito */
    margin-top: 15px;         /* espacio arriba */
    font-weight: 500;         /* un poco más grueso */
}
}
