.section-box {
    background-color: white;
    padding: 25px 15px;
    border-radius: 30px;
    margin-bottom: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
body {
    background-color: #ffe6f2; 
.emoji-background {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 200px;
    opacity: 0.15;
    pointer-events: none;
    .center-text {
    text-align: center;
    font-size: 22px;         
    margin-top: 15px;     
    font-weight: 500;        
}
}
