.center-text { text-align: center; font-size: 22px; margin-top: 15px; font-weight: 500; }
body {
    background-color: #ffe6f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 25px;
}

/* General box */
.section-box {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 300px;           /* fixed width*/
}

/* GRID of three boxes*/
.section-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;      /* It allows them to be togather */
    margin-bottom: 30px;
}

/* botton box for recent projects */
.section-wide {
    width: 960px;           /* whidth */
    margin: 0 auto;         /* It allows it to be in center */
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* SKILL BARS */
.skill-box {
    margin-bottom: 15px;
}

.skill-box p {
    font-weight: 600;
}

.progress {
    width: 100%;
    height: 12px;
    background: #ffe0f0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(90deg, #ff7ac8, #ffb4e6);
}

/* Emoji background*/
.emoji-background {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 200px;
    opacity: 0.15;
    pointer-events: none;
}
