.section-box {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
section-container {
  display: flex;
  gap: 20px;       /* separación entre cajas */
  justify-content: center;
  flex-wrap: wrap; /* por si la pantalla es pequeña */
}
.skill-box {
    margin-bottom: 18px;
}

.skill-box p {
    font-weight: 600;
    margin-bottom: 6px;
}

.progress {
    width: 100%;
    height: 12px;
    background: #ffe6f2; /* rosa pastel clarito */
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(90deg, #ff7ac8, #ffb4e6); /* rosa degradado */
    border-radius: 10px;
}
body {
    background-color: #ffe6f2; 
.emoji-background {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 200px;
    opacity: 0.15;
    pointer-events: none;
    .center-text {
    text-align: center;
    font-size: 22px;         
    margin-top: 15px;     
    font-weight: 500;        
}
}
